* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url('https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  margin: 0 0 1rem 0;
  padding: 1rem 0;
  font-size: 1.8rem;
  width: fit-content;
  color: rgb(57, 65, 61);
  margin-inline-start: 2rem;
}

#content {
  display: flex;
  font-size: 1.9rem;
  padding: 0 2rem;
}

.score-board {
  margin-inline-end: 1.6rem;
  flex-grow: 1;

}

.score-board div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-wrap {
  margin: 1.6rem 0;
  border: 2px solid rgb(27, 27, 27);
  max-width: 80rem;
  display: flex;
  justify-content: center;
  padding: 2rem 4rem;
  align-items: center;
  background: black;
  opacity: .5;
}

.scores {
  min-height: 35rem;
  list-style: none;
  font-weight: 500;
  max-width:  fit-content;
}

.scores li {
  position: relative;
  padding: 0.8rem 1.3rem;
  color: white;
}

.scores > li:nth-child(2n) {
  color: white;
  background-color: rgb(76, 120, 92);
}

.add-score-section {
  flex-grow: 1;
  padding: 0.9rem 1.5rem;
  margin-inline-start: 1.8rem;
}

.add-score-form {
  display: flex;
  flex-direction: column;
}

.add-score-form h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: rgb(76, 120, 92);
}

.score-board h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: rgb(76, 120, 92);
}

.form-input {
  color: rgb(76, 120, 92);
  padding: 0.56rem;
  border: 2px solid #000;
  margin-block-end: 3rem;
}

.btn {
  position: relative;
  padding: 0.8rem;
  border: 0.15rem solid #000;
}

.btn::after {
  width: 100%;
  content: "";
  position: absolute;
  background-color: rgb(76, 120, 92);
  height: 100%;
  padding: 0.2rem;
  z-index: -1;
  top: 0.2rem;
  left: 0.2rem;
}

.submit-score-btn {
  min-width: 35%;
  padding: 1rem;
  align-self: flex-end;
  font-weight: 600;
}

.refresh-btn {
  font-weight: bold;
  text-align: center;
}

.error-message,
.success-message {
  color: rgb(0, 0, 0);
  padding: 0.31rem 1rem;
  position: absolute;
  top: -2px;
  left: 140px;
}

.error-message {
  background-color: rgb(198, 83, 83);
  text-align: center;
  height: 2.3rem;
  color: aliceblue;
}

.success-message {
  background-color: rgb(11, 172, 48);
  text-align: center;
  height: 2.3rem;
}
